
.gradient-bg{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 5% 75%, #47CDC2 0%, #154BD2 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 5% 75%, #47CDC2 0%, #154BD2 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 5% 75%, #47CDC2 0%, #154BD2 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 5% 75%, #47CDC2 0%, #154BD2 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 5% 75%, #47CDC2 0%, #154BD2 100%);
}

.section__padding {
  padding: 2rem 4rem;
}

.section__margin {
  margin: 2rem 3rem 0;
}

.App__container{
  background:url('./images/feather.png') repeat;
}

.App__experience{
  display:flex;
  flex-direction:column;
}

@media (max-width:550px){
  .App__container{
    display:flex;
    flex-direction:column;
  }
  .App__heading{
    display:flex;
    flex-direction:column;
  }
}
