@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root{
  --text-tile:'Open Sans', sans-serif;
  --text-body: 'Roboto', sans-serif;
  --color-text:#043302;
  --gradient-text:linear-gradient(90deg, #389C44 0%, #255D6E 41%, #6E9827 71%, #031A54 100%);
}

 *{
  margin:0;
  padding:0
 }
